PidFile=/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log

Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}

Hostname={{ inventory_hostname }}

# AUTOREGISTRACE
HostMetadata=linux

Include=/etc/zabbix/zabbix_agent2.d/*.conf